---
<<<<<<< HEAD
=======

>>>>>>> e1c0f2a27d6cc55b65338bb9001190d19983c039
const { title, author, draft } = Astro.props.entry.data;
---

<header>
  <h1 class="custom-page-title">{title}</h1>
  <em class="custom-page-title">Author: {author}</em>
</header>
